<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock%}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        {% comment %} <a href="/" title = "Home">Home</a> |  {% endcomment %}
        <a href="/" title = "Random Forest">Random Forest</a>
        <a href="/logistic_regression" title = "Logistic Regression">Logistic Regression</a> 
        <a title = "Decision Tree" href="/decision_tree" >Decision Tree</a>
     
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>